@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Poppins:wght@500&display=swap');
body{
    background-color: #202020;
}
.home{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    text-align: center;
    align-items: center;
}

.card1{
    display: grid;
    grid-row: 2/3;
    padding: 4rem;
    text-justify: auto;
    text-align: center;
    color: white;
    font-size: 2rem;
}

