.navbar{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 1rem ;
    background-color:#252525;
    border-bottom: 0.1rem solid black;
    
}
.link1{
    display: grid;
    grid-column: 1/2;
    place-items:center;
}

.link1>img{
    max-height: 2rem;
    object-fit: contain;
    place-items: center;
}

.link2{
    max-width: 5rem;
    display: grid;
    grid-column: 7/8;
    place-items:center;
    text-align: right;
    text-decoration: none;
    color: white;
}

.link3{
    max-width: 5rem;
    display: grid;
    grid-column: 8/9;
    place-items:center;
    text-decoration: none;
    color: white;
}
.link4{
    max-width: 5rem;
    grid-column: 9/10;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: white;
}
.link5{
    max-width: 5rem;
    grid-column: 10/11;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: white;
}